<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/app.css">
<body>
<div class="container myFooter">
		友情链接： <a href="http://346050153.qzone.qq.com" target="_blank">qq空间</a>
		 <a href="http://blog.csdn.net/chuchus" target="_blank">csdn博客</a>
		 	 <a href="http://ctrip.com" target="_blank">携程</a>
		 	 <br/>
		 	 &copy;2015&nbsp;<span class="text">yichu</span>
		&nbsp;|&nbsp;沪ICP备15017991号<br/>
	</div>
</body>
</html>