<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Bootstrap  根据屏幕大小自适应样式 -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/app.css">

<title>杜易初|Young Rhythm</title>
</head>
<body>
	<div id="myBackgroundImage">
		<img src="../pictures/wallPaper.jpg" height="100%" width="100%" />
	</div>
	<div class="container">
		<nav class="navbar navbar-default myOpcity">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed "
						data-toggle="collapse" data-target="#myNavbarCollapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">易初|yichu</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbarCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">高考 <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">高考倒计时</a></li>
								<li><a href="../ngViews/gaoKaoScore.html">高考成绩</a></li>
							</ul></li>
						<li><a href="../views/mePicture.html">图片</a></li>
						<li><a href="../views/baiduMap.html">位置</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div style="padding-top: 25%;"></div>

		<div class="sayingGround">
			<br>
			<div class="saying">距2016高考还有:</div>
			<div class="row">
				<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1"
					id="showCountDownID"></div>
			</div>
			<br>
		</div>
		<div class="row" style="color: white">
			<div class="saying col-md-5 col-md-offset-7 col-xs-5 col-xs-offset-7">——心中有高考，年年可高考</div>
		</div>

		<div style="padding-top: 25%;"></div>
	</div>
	<div class="container">
		<div id="myAnimationDiv"
			style="margin-left: auto; margin-right: auto; background: pink; height: 20px; width: 40%; text-align: center">
			<a href="../ngViews/gaoKaoScore.html">2011 宝丰一高考考成绩单，戳我~</a>
		</div>
	</div>

	<div class="container myFooter" style="position: absolute">
		&copy;2015&nbsp;<span class="text">yichu</span>
		&nbsp;|&nbsp;沪ICP备15017991号
	</div>
	<script>
		function getCountDown() {
			var timeSpanBySeconds = (new Date(2016, 6 - 1, 7, 9, 0, 0, 0)
					.getTime() - new Date().getTime()) / 1000;//by second
			var days = timeSpanBySeconds / (3600 * 24);
			days = Math.floor(days);
			var hours = (timeSpanBySeconds - days * 3600 * 24) / 3600;
			hours = Math.floor(hours);
			var minutes = (timeSpanBySeconds - days * 3600 * 24 - hours * 3600) / 60;
			minutes = Math.floor(minutes);
			var seconds = timeSpanBySeconds % 60;
			seconds = Math.floor(seconds);
			var str = days + " days " + hours + " hours " + minutes
					+ " minutes " + seconds + " seconds ";
			return str;
		}
		function showCountDown() {
			$('#showCountDownID').text(getCountDown());
		}
		showCountDown();
		setInterval("showCountDown()", 1000); //定时器1

		function myAnimation() {
			var div = $("#myAnimationDiv");
			div.animate({
				width : '100%',
				opacity : '0.4'
			}, "slow");
			div.animate({
				width : '40%',
				opacity : '1'
			}, "slow");
		};
		setInterval("myAnimation()", 1000); //定时器2
	</script>
</body>
</html>