<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>logo筹备需求</title>
</head>
<body>
<div class="container">
<h1>logo筹备需求</h1>
<div style="text-align:center">
		<img  src="../pictures/logoPrepare.png" />
		<br/>
		<span>图1 基础样式</span>
</div>

<div>
需求：<br/>
1.基础样式见图1 。<br/>
2.西瓜图标设计为1/4圆弧，简洁、生动，可以尝试带有立体感。<br/>
3.“yichu”字母可以使用创意字体，”yi”为粉色，”chu”为蓝色，字体要粗一点。<br/>
4.横线下方的”likeyichu.com”分散对齐就好。<br/>
5.提供矢量图格式,png格式等。<br/>
<br/>
其他说明：<br/>
1.这是一个个人网站的logo，个人娱乐使用。<br/>

</div>
</div>

</body>
</html>