@media screen and (max-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
	body {
		font-size: 12px;
	}
}

/*页脚*/
.myFooter {
	width: 100%;
	/*position: fixed;*/
	margin-top: 1em;
	bottom: 1em;
	border-top-style: dotted;
	border-top-width: 0.2em;
	text-align: center;
}
/*派生选择器*/
div .text {
	font-family: Verdana;
	color: rgb(255, 0, 128);
}
/*首页半透明*/
.myOpcity {
	opacity: 0.7
}
/*首页背景图片*/
#myBackgroundImage {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1
}

/*标语*/
.sayingGround {
	background-color: rgba(0, 255, 0, 0.5);
}

.saying {
	font-size: 2em;
	font-family: 微软雅黑;
	opacity: 1;
	font-weight: bold;
}

#showCountDownID {
	font-size: 2em;
	font-family: verdana;
	color: red;
	font-weight: normal;
}