html, body {
	width: 100%;
	height: 80%;
}

#allmap {
	width: 100%;
	height: 80%;
	overflow: hidden;
	margin: 0.1em;
}
/*
body, html, #allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}*/